{% load i18n absolute %}
<p>{% blocktrans with username=user.username %}Dear {{ username }},{% endblocktrans %}</p>

<p>{% blocktrans with domain=site.domain %}You -- or someone pretending to be you -- has requested a password reset on {{ domain }}.{% endblocktrans %}</p>

<p>{% trans "You can set your new password by following this link:" %}

{% site 'accounts_password_reset_change' token %}</p>

<p>{% trans "If you don't want to reset your password, simply ignore this email and it will stay unchanged." %}</p>
