{% extends "accounts/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title_extra %}{% trans "Log in" %}{% endblock %}

{% block content_primary %}
	<form method="post" action="{# leave this empty so we don't loose the 'next' get parameter #}" autocapitalize="off">
		{% csrf_token %}
		<fieldset>
		{{ form.as_p }}
		{% if redirect_field_value %}
		<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		</fieldset>
		{% include 'accounts/inc/social_auth_login_choices.html' %}
		<div class="form-actions">
			<button type="submit" class="btn">{% trans "Log in" %}</button>
			<a href="{% url 'accounts_password_reset_recover' %}">{% trans "Forgot your password?" %}</a><br/>
			<a href="{% url 'accounts_signup' %}">{% trans 'Signup for a new account' %}</a>
		</div>
	</form>
	{% include 'accounts/inc/social_auth_styles.html' %}
{% endblock %}