{% extends "accounts/base.html" %}{% load i18n accounts_tags %}{% load url from future %}

{% block content_primary %}
	{% if invalid %}{% url "accounts_password_reset_recover" as recovery_url %}
		<p>{% blocktrans %}Sorry, this password reset link is invalid. You can still <a href="{{ recovery_url }}">request a new one</a>.{% endblocktrans %}</p>
	{% else %}{% pretty_username form.user as username %}
		<p>{% blocktrans %}Hi, <strong>{{ username }}</strong>. Please choose your new password.{% endblocktrans %}</p>
		<form method="post" action="{% url 'accounts_password_reset_change' token %}">
			{% csrf_token %}
			{{ form.as_p }}
			<p><input type="submit" class="btn" value="{% trans "Set new password" %}"></p>
		</form>
	{% endif %}
{% endblock %}
