{% extends "accounts/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title_extra %}{% trans "Sign up" %}{% endblock %}

{% block content_primary %}
	<form id="signup_form" method="post" action="{# leave empty #}" autocapitalize="off" class="form-horizontal">
		<legend>{% trans "Sign up" %}</legend>
		<fieldset>
			{% csrf_token %}
			{{ form.as_p }}
			{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
			{% endif %}
			<div class="form-actions">
				<button type="submit" class="btn btn-primary">{% trans "Sign up" %}</button>
			</div>
		</fieldset>
	</form>

	<h2><strong>OR</strong> signup with social auth</h2>
	{% include 'accounts/inc/social_auth_signup_choices.html' %}
	{% include 'accounts/inc/social_auth_styles.html' %}
{% endblock %}