{% extends "djangocms_accounts/base_profile.html" %}

{% load url from future %}
{% load i18n %}

{% block title_extra %}{% trans "Cancel an email confirmation" %}{% endblock %}

{% block content_primary %}
	<form method="post" action="" spellcheck="false">{% csrf_token %}
		<p>Do you really want to cancel the confirmation request for <strong>{{ object.email }}</strong>?</p>
		<a href="{% url 'accounts_email_list' %}">back</a>
		<button type="submit">yes, cancel it</button>
	</form>
{% endblock %}