{% extends "djangocms_accounts/profile/base.html" %}

{% load url from future %}
{% load i18n standard_form %}

{% block title_extra %}{% trans "Add an email address" %}{% endblock %}
{% block profile_navigation %}{% include 'djangocms_accounts/profile/includes/nav.html' with active='email' %}{% endblock %}

{% block content_primary %}
	<h3>{% trans "add email address" %}</h3>
	<form method="post" action="" class="frm" spellcheck="false">
		{% csrf_token %}
		<fieldset class="frm-horizontal">
			<ol>
				{% standard_form form %}
				<li><label></label><input type="submit" value="{% trans 'add' %}" class="btn" /></li>
			</ol>
		</fieldset>
	</form>
{% endblock %}