{% extends "djangocms_accounts/profile/base.html" %}

{% load url from future %}
{% load i18n %}

{% block title_extra %}{% trans "set as primary email" %}{% endblock %}

{% block content_primary %}
	<h3>{% trans "set as primary email" %}</h3>
	<form method="post" action="" spellcheck="false">{% csrf_token %}
		<p>{% blocktrans with email=object.email %}Do you really want to make {{ email }} your primary email?{% endblocktrans %}</p>
		<a href="{% url 'accounts_email_list' %}">{% trans 'back' %}</a>
		<button type="submit" class="btn">{% trans 'yes' %}</button>
	</form>
{% endblock %}