{% extends "base.html" %}
{% load url from future %}
{% load i18n static standard_form %}

{% block title_extra %}{% trans "Log in" %}{% endblock %}

{% block feature %}
	<div class="feature feature-login">
		<div class="container-24 clearfix">
			<div class="grid-24">
				<h1>{% trans 'Welcome' context 'login/signup view' %}</h1>
				<h3>{% trans "Let's get started!" context 'login/signup view' %}</h3>
			</div>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container-24 clearfix">
		<div class="grid-8">
			<div class="feature-box feature-box-small">
				<div class="border-left"></div>
				<div class="border-right"></div>
				<h3>{% trans 'Already a member?' %}</h3>
				{% with login_form|default:empty_login_form as login_form %}
					{% include 'aldryn_accounts/inc/login_form.html' %}
				{% endwith %}
			</div>
		</div>
		<div class="grid-8">
			<div class="feature-box feature-box-small">
				<div class="border-left"></div>
				<div class="border-right"></div>
				<h3>{% trans 'Login via Social' %}</h3>
				{% include 'aldryn_accounts/inc/social_auth_signup_choices.html' %}
				{% include 'aldryn_accounts/inc/social_auth_styles.html' %}
			</div>
		</div>
		<div class="grid-8">
			<div class="feature-box feature-box-small">
				<div class="border-left"></div>
				<div class="border-right"></div>
				<h3>{% trans 'New? Register now' %}</h3>
				{% with signup_form|default:empty_signup_form as signup_form %}
					{% include 'aldryn_accounts/inc/signup_form.html' %}
				{% endwith %}
			</div>
		</div>
	</div>
{% endblock %}