{% extends "aldryn_accounts/base.html" %}
{% load i18n %}

{% block title_extra %}{% trans "Log in" %}{% endblock %}

{% block content_primary %}
	<form method="POST" action="{% url 'logout' %}" autocapitalize="off">
		<legend>{% trans "Are you sure you want to logout?" %}</legend>
		{% csrf_token %}
		{% if redirect_field_value %}
			<input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
		{% endif %}
		<button type="submit" class="btn btn-primary">{% trans "Log out" %}</button>
	</form>
{% endblock %}