{% extends "sidebar_left.html" %}
{% load i18n gravatar %}
{% load url from future %}

{% block title_prefix %}{% trans "My account" %}{% endblock %}

{% block content_secondary %}
	<div class="left" style="margin-right: 5px;">{% gravatar user.email 48 %}</div>

	<div><a href="{% url 'accounts_profile' %}"><span>{{ username }}</span></a></div>
	<div class="clear"></div>
	{% block profile_navigation %}
		{% include "aldryn_accounts/profile/includes/nav.html" %}
	{% endblock profile_navigation %}
{% endblock %}

{% block content_primary %}
	{{ block.super }}
{% endblock content_primary %}