{% extends "aldryn_accounts/base.html" %}
{% load i18n thumbnail %}

{% block title_prefix %}{% trans "My account" %} - {% endblock %}

{% block content %}
    <h3>{% block profile_title %}{% endblock %}</h3>
    <div class="accounts-profile-image">
        <a href="{% url 'accounts_profile' %}">
            <img src="{% thumbnail user.settings.profile_image 200x200 crop upscale %}" /><br/>
            <span class="username">{{ username }}</span>
        </a>
        <hr/>
    </div>
    <div class="clear"></div>
    {% block profile_navigation %}
        {% include "aldryn_accounts/profile/includes/nav.html" %}
    {% endblock profile_navigation %}

    {{ block.super }}
{% endblock content %}
