{% extends "aldryn_accounts/profile/base.html" %}
{% load i18n standard_form %}

{% block profile_title %}{% trans "Change password" %}{% endblock %}
{% block title_extra %}{% trans 'Change password' %}{% endblock %}
{% block profile_navigation %}{% include 'aldryn_accounts/profile/includes/nav.html' with active='password_change' %}{% endblock %}

{% block content_primary %}
	<p>{% trans 'Here you can change your account password.' %}</p>
	<form method="post" action="{# must be empty to not loose the 'next' GET parameter #}" class="frm">
		{% csrf_token %}
		<fieldset class="frm-horizontal">
			<ol>
				{% standard_form form %}
				<li>
					<label></label>
					<input type="submit" value="{% trans 'set new password' %}" class="btn" />
				</li>
			</ol>
		</fieldset>
	</form>
{% endblock %}