{% extends "aldryn_accounts/profile/base.html" %}

{% load url from future %}
{% load i18n standard_form %}

{% block profile_title %}{% trans "Email addresses" %}{% endblock %}
{% block title_extra %}{% trans "Email addresses" %}{% endblock %}
{% block profile_navigation %}{% include 'aldryn_accounts/profile/includes/nav.html' with active='email' %}{% endblock %}

{% block content_primary %}
	<ul class="reset-list tablish-list">
		{% for obj in object_list %}
			<li>{{ obj.email }}
				<div class="right">
				{% if obj.is_verified %}
					<span class="label label-success">{% trans 'verified' %}</span>
					{% if obj.is_primary %}
						<span class="label label-info">{% trans 'primary' %}</span>
					{% else %}
						<a href="{% url 'accounts_email_make_primary' pk=obj.pk %}">{% trans 'set as primary' %}</a> <a href="{% url 'accounts_email_delete' pk=obj.pk %}"><span class="icon icon-close"></span></a>
					{% endif %}
				{% else %}
					<span class="label label-important">{% trans 'not verified yet' %}</span>
					<a href="{% url 'accounts_email_confirmation_resend' pk=obj.pk %}">{% trans 're-send' %}</a>
					<a href="{% url 'accounts_email_confirmation_cancel' pk=obj.pk %}">{% trans 'cancel' %}</a>
				{% endif %}
				</div>
			</li>
		{% endfor %}
	</ul>
	<form method="post" action="" class="frm" spellcheck="false">
		{% csrf_token %}
		<fieldset class="frm-horizontal">
			<ol>
				{% standard_form add_email_form %}
				<li><label></label><input type="submit" value="{% trans 'add' %}" class="btn" /></li>
			</ol>
		</fieldset>
	</form>
{% endblock %}