{% extends "aldryn_accounts/profile/base.html" %}
{% load i18n %}

{% block profile_title %}{% trans "Cancel E-Mail confirmation" %}{% endblock %}
{% block title_extra %}{% trans "Cancel an E-Mail confirmation" %}{% endblock %}
{% block profile_navigation %}{% include 'aldryn_accounts/profile/includes/nav.html' with active='email' %}{% endblock %}

{% block content %}
<form method="post" action="" spellcheck="false">{% csrf_token %}
	<p>{% blocktrans with email=object.email %}Do you really want to cancel the confirmation request for {{ email }}?{% endblocktrans %}</p>
	<a href="{% url 'aldryn_accounts:accounts_email_list' %}">{% trans 'back' %}</a>
	<button type="submit" class="btn">{% trans 'yes' %}</button>
</form>
{% endblock %}
