{% extends "aldryn_accounts/profile/base.html" %}

{% load url from future %}
{% load i18n tz %}

{% block profile_title %}{% trans "Edit settings" %}{% endblock %}

{% block content_primary %}
	username: {{ request.user.username }}<br/>
	email: {{ request.user.email }}<br/>
	name: {{ request.user.first_name }} {{ request.user.last_name }}<br/>
	<br/>
	{% timezone 'UTC' %}
		<strong>UTC</strong>: {% now "DATETIME_FORMAT" %}<br/>
	{% endtimezone %}
	{% timezone TIME_ZONE %}
		<strong>{{ TIME_ZONE }}</strong>: {% now "DATETIME_FORMAT" %}  (your timezone)
	{% endtimezone %}
	<br/>
    geoip data:
    <pre>{{ request.session.geoip|pprint }}</pre>
{% endblock %}